{% extends "layout/layout.html" %}

{% load static %}
{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block content %}
    <a href="{% url 'catalog:view-category' %}">Go Back</a>
    <hr/>
    <h2>Tiêu đề: {{UF.name}}</h2>
    <h6>Người tạo: {{UF.user.first_name}} {{UF.user.last_name}}</h6>
    {% if UF.image %}
        <p><img src="{{UF.image.url}}" alt="Hình ảnh Category" width="250" height="250"></p>
    {% endif %}
    <p>Nội dung: {{UF.content}}</p>
    <hr/>

    {% include 'layout/nav-bar.html' %}

{% endblock %}