{% extends "layout/layout.html" %}

{% block title %}{{ title }} {% endblock %}

{% block nav_top %}{% include 'layout/nav-bar_top.html' %}{% endblock %}

{% block nav_sidebar %}{% include 'layout/nav-sidebar.html' %}{% endblock %}

{% block content %}
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalog</title>
    <style>
        .pagination a {
            border: 1px solid black;
            padding: 2px
        }
    </style>
</head>
<body>-->
    <div class="form-group clearfix">
		<ul>
			<li style="text-align: center;list-style: none;"><a href="{% url 'catalog:upload_p_template' %}">Thêm vào PRODUCT</a></li>
		</ul>
	</div>

    <a href="{% url 'catalog:catalog' %}">Go Back Catalog</a>
    <hr/>
    {% for item in page_obj %}
        <h6>Tên sản phẩm: <a href="{% url 'catalog:products' %}{{item.id}}/change/">{{item.name}}</a></h6>
        <h5>Mã sản phẩm: {{item.code}}</h5>
        <h6>Xuất xứ: {{item.country}}</h6>
        <h6>Người tạo: {{item.user.last_name}} {{item.user.first_name}}</h6>
        <p>
            {% if item.image %}
                <img src="{{item.image.url}}" alt="Hình ảnh sản phẩm" width="100" height="100">
            {% else %}
                <img src="{{item.image.name}}" alt="Đường dẫn hình ảnh sản phẩm đã không còn {{item.image.name}}" width="100" height="100">
            {% endif %}
        </p>
        <h6>Mô tả: {{item.description}}</h6>
        <hr/>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
<!--
</body>
</html>-->
    <!--Add this-->
    {% include 'layout/nav-bar.html' %}

{% endblock %}