{% extends "layout/layout.html" %}

{% block title %}{{ title }} {% endblock %}

{% block content %}
	<div class="">
	 	{% load static %}
		<div class="form-group clearfix">
			<label for="id_username" class="col-md-4 control-label">Tên đăng nhập (*)</label>
			<label for="id_username" class="col-md-7 required-color">{{ user.username }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_first_name" class="col-md-4 control-label">Họ tên (*)</label>
			<label for="id_first_name" class="col-md-7 required-color">{{ user.last_name }} {{ user.first_name }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_email" class="col-md-4 control-label">Mail điện tử</label>
			<label for="id_email" class="col-md-7 required-color">{{ user.email }}</label>
			<!-- <input type="text" value="{{ user.email }}" name="username" visibility="hidden" /> -->
		</div>
		<div class="form-group clearfix">
			<label for="id_is_staff" class="col-md-4 control-label">Tình trạng hân viên</label>
			<label for="id_is_staff" class="col-md-7 required-color">{{ user.is_staff }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_is_active" class="col-md-4 control-label">Kích hoạt</label>
			<label for="id_is_active" class="col-md-7 required-color">{{ user.is_active }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_date_joined" class="col-md-4 control-label">Ngày tham gia</label>
			<label for="id_date_joined" class="col-md-7 required-color">{{ user.date_joined }}</label>
		</div>

		{% if not profile_form.profile.social_network %}
			<div class="form-group clearfix">
				<label for="id_username" class="col-md-4 control-label">Loại tài khoản</label>
				<div class="col-md-4 required-color" style="display: inline-block;">Local</div>
			</div>
		{% else %}
			{% if user.profile.social_network == 1 %}
				<div class="form-group clearfix">
					<label for="id_social_network" class="col-md-4 control-label">Loại tài khoản</label>
					<div class="col-md-4 required-color" style="display: inline-block;">Google</div>
				</div>
			{% endif %}
			{% if user.profile.social_network == 2 %}
				<div class="form-group clearfix">
					<label for="id_social_network" class="col-md-4 control-label">Loại tài khoản</label>
					<div class="col-md-4 required-color" style="display: inline-block;">Facebook</div>
				</div>
			{% endif %}
			{% if user.profile.social_network == 3 %}
				<div class="form-group clearfix">
					<label for="id_social_network" class="col-md-4 control-label">Loại tài khoản</label>
					<div class="col-md-4 required-color" style="display: inline-block;">Linkedin</div>
				</div>
			{% endif %}
		{% endif %}

		<div class="form-group clearfix">
			<label for="id_birthday" class="col-md-4 control-label">Ngày sinh (*)</label>
			<label for="id_birthday" class="col-md-7 required-color">{{ user.profile.birthday }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_phoneNumber" class="col-md-4 control-label">Số điện thoại</label>
			<label for="id_phoneNumber" class="col-md-7 required-color">{{ user.profile.phone_number }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_address" class="col-md-4 control-label">Địa chỉ</label>
			<label for="id_address" class="col-md-7 required-color">{{ user.profile.address }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_description" class="col-md-4 control-label">Mô tả</label>
			<label for="id_description" class="col-md-7 required-color">{{ user.profile.description }}</label>
		</div>
		<div class="form-group clearfix">
			<label for="id_website" class="col-md-4 control-label">Link cá nhân</label>
			<label for="id_website" class="col-md-7 required-color">{{ user.profile.website }}</label>
		</div>

		<div class="form-group clearfix">
			{% if user.profile.images %}
			<label for="id_images" class="col-md-4 control-label">Hình ảnh avatar</label>
			<label for="id_address" class="col-md-4 control-label"><img src="{{ user.profile.images.url }}" alt="{{ user.profile.images }}" style="width: 200px;" /></label>
			<!-- <img src="{{ MEDIA_URL }}{{ profile_record.images }}" alt="{{ profile_record.images }}" /> -->
			{% else %}
			<label for="id_address" class="col-md-4 control-label"><img src="{% static 'images/avatar.png' %}" alt="Default" style="width: 200px;" /></label>
			<label for="id_images" class="col-md-4 required-color">Hình ảnh avatar mặc định</label>
			{% endif %}
		</div>
		<div class="form-group clearfix">
		<ul>
			<!-- <li><a href="{% url 'user:profile' %}{{ user.id }}/edit/">Chỉnh sửa thông tin cá nhân</a></li> -->
			<li style="text-align: center;list-style: none;"><a href="{% url 'user:profile' %}edit/">Chỉnh sửa thông tin cá nhân</a></li>
			<li style="text-align: center;list-style: none;"><a href="{% url 'user:password_change' %}">Thay đổi mật khẩu</a></li>
		</ul>
		</div>
	</div>
{% endblock %}
